#contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.con {
    padding-right: 3em;
    color: $linkcol;
    padding-left: 50%;
}

.me {
    padding-left: 3em;
    padding-right: 50%;
    color: $linkcol;

}

.form {
    font-family: map-get($tipos, paragrap);


}

.te {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    textarea {
        border-radius: 15px;
        padding-left: 1rem;
        border-style: none;
        color: gray;
        font-family: map-get($tipos, paragrap);
    }

}

div .caja {
    border-radius: 5px;
    border-style: none;
    padding-left: 1rem;
    color: gray;
    font-family: map-get($tipos, paragrap);

}

select {
    border-style: none;
    color: gray;
}


@media screen and (max-width: 768px) {

    .con {
        padding-right: 3em;
        color: $linkcol;
        padding-left: 3%;
        align-items: center;
    }

    .me {
        padding-left: 3em;
        padding-right: 3%;
        color: $linkcol;
        align-items: center;

    }
}

@media screen and (max-width: 540px) {
    #contacto {
        display: grid;
        grid-template-columns: 1fr;
    }

    .te {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    con {
        margin-right: 0;
        color: $linkcol;
    }

    .me {
        margin-left: 0;
        font-family: map-get($tipos, paragrap);
        color: $linkcol;
    }

}
