<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/clerico.jpg">
    <title>Clericó contacto</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=PT+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav id="navegar">
            <ul class="menu bar container">
                <li class="menu__item"><a href="../../index.html" class="menu__link">Clericó</a></li>
                <li class="menu__item"><a href="secciones.html" class="menu__link">Secciones</a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item"><a href="seccion-uno.html" class="sub-menu__link">La curiosidad
                                mato al gato</a></li>
                        <li class="sub-menu__item" class="sub-menu__item"><a href="" class="sub-menu__link">Color en el
                                cine</a></li>
                        <li class="sub-menu__item" class="sub-menu__item"><a href="" class="sub-menu__link">Datos
                                random</a></li>
                    </ul>
                </li>
                <li><a href="../../index.html"><nav class="pict"><picture><img src="../multimedia/png.png" alt="logo" class="logo"></picture></nav>
                </a></li>
                <li class="menu__item"><a href="trabajos.html" class="menu__link">Trabajos</a></li>
                <li class="menu__item"><a href="contacto.html" class="menu__link">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div id="contacto">
        <div class="te con">
            <h2>Contacto</h2>
            <form action="text" method="" enctype="" class="form">
                <div><input type="text" name="Nombre" placeholder="Nombre" /></div><br>
                <div><input type="email" name="Email" placeholder="Email" /></div><br>
                <div><input type="text" name="Asunto" placeholder="Asunto" /></div><br>
                <label for="Cliente" class="form">Es actual cliente</label>
                <select name="Cliente" id="Cliente" class="form">
                    <option value="SI">Si</option>
                    <option value="No">No</option>
                </select><br><br>
        </div>
        <div class="te me"><textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form">Mensaje</textarea><br>
            <div class="form"><label for="acepta">Acepta que guardemos sus datos</label><input type="checkbox"
                    name="acepta" value="1" /></div><br>
            <button type="submit" class="form">Enviar</button>
        </div>
        </form>
    </div>


    <footer>
        <div id="navego" class="fot">
            <ul class="fot-list">
                <li class="red-list__item"><a href="https://www.instagram.com/estudio.clerico/"
                        class="red-list__link">Instagram</a></li>
                <li class="red-list__item"><a href="https://www.behance.net/clerico" class="red-list__link">Behance</a>
                </li>
            </ul>
            <ul class="fot-contact__list">
                <li class="contact-list__item"><img src="../multimedia/png.png" alt="logo" width="30" height="auto"
                        class="contact-list__link"></li>
                <li class="contact-list__item"><a href="./assets/views/contacto.html"
                        class="contact-list__link c">Contactar mis servicios</a></li>
            </ul>
        </div>
    </footer>









</body>
