<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nuestos trabajos mas recientes">
    <meta name="keywords" content="DISEÑO, PUBLICIDAD, BOUTIQUE CREATIVA, MULTIMEDIA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/clerico.jpg">
    <title>Clericó|Trabajos</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=PT+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav id="navegar">
            <div class="menu__logo"><a href="../../index.html">
                    <nav class="pict">
                        <picture><img src="../multimedia/clerico-logo_Mesa de trabajo 1.png" alt="logo" class="logo">
                        </picture>
                    </nav>
                </a></div>
            <ul class="menu bar container">
                <li class="menu__item"><a href="./../../index.html" class="menu__link">CLERICO</a></li>
                <li class="menu__item"><a href="" class="menu__link">SECCIONES</a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item" class="sub-menu__item"><a href="./seccion-dos.html"
                                class="sub-menu__link">LA VIDA EN COLORES</a></li>
                        <li class="sub-menu__item"><a href="./seccion-uno.html" class="sub-menu__link">lA CURIOSIDAD
                                SALVO AL GATO</a></li>

                    </ul>
                </li>
                <li class="menu__item"><a href="./trabajos.html" class="menu__link">TRABAJOS</a></li>
                <li class="menu__item"><a href="./contacto.html" class="menu__link">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <section class="galeria">
        <article class="job">
            <div class="img-1"></div>
            <p>Diseño de Identidad <br> Dysis: Velas Aromáticas
            </p>
        </article>
        <article class="job">
            <div class="img-2"></div>
            <p>Diseño Etiqueta <br> Bodegas Callia "Volver a vos"
            </p>
        </article>
        <article class="job">
            <div class="img-3"></div>
            <p>Diseño etiqueta <br> Estudio Clericó para Yoca Kéfir
            </p>
        </article>
        <article class="job">
            <div class="img-4"></div>
            <p>Diseño etiqueta <br> Estudio Clericó para Yoca Kéfir
            </p>
        </article>
        <article class="job">
            <div class="img-5"></div>
            <p>Identidad <br> Almerinda Deco
            </p>
        </article>
        <article class="job">
            <div class="img-6"></div>
            <p>Packaging <br> " tè de tè "
            </p>
        </article>
    </section>


    <footer>
        <div id="navego" class="fot">
            <ul class="fot-list">
                <li class="red-list__item"><a href="https://www.instagram.com/estudio.clerico/"
                        class="red-list__link">INSTAGRAM</a></li>
                <li class="red-list__item"><a href="https://www.behance.net/clerico" class="red-list__link">BEHANCE</a>
                </li>
            </ul>
            <ul class="fot-contact__list">
                <li class="contact-list__item"><img src="../multimedia/png.png" alt="logo" width="30" height="auto"
                        class="contact-list__link"></li>
                <li class="contact-list__item"><a href="contacto.html" class="contact-list__link c">CONTACTA CON
                        NOSOTROS</a></li>
            </ul>
        </div>
    </footer>