<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/clerico.jpg">
    <title>Clericó contacto</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=PT+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <ul class="menu bar container">
                <li class="menu__item"><a href="../../index.html" class="menu__link">Clericó</a></li>
                <li class="menu__item"><a href="secciones.html" class="menu__link">Secciones</a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item"><a href="seccion-uno.html" class="sub-menu__link">La curiosidad
                                mato al gato</a></li>
                        <li class="sub-menu__item" class="sub-menu__item"><a href="" class="sub-menu__link">Color en el
                                cine</a></li>
                        <li class="sub-menu__item" class="sub-menu__item"><a href="" class="sub-menu__link">Datos
                                random</a></li>
                    </ul>
                </li>
                <li><a href="../../index.html"><img src="../multimedia/clerico.jpg" alt="logo" width="200" height="200"
                            class="logo"></a></li>
                <li class="menu__item"><a href="trabajos.html" class="menu__link">Trabajos</a></li>
                <li class="menu__item"><a href="contacto.html" class="menu__link">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="galeria">
        <picture class="works"></picture>
        <picture class="works"></picture>
        <picture class="works"></picture>
        <picture class="works"></picture>
        <picture class="works"></picture>
        <picture class="works"></picture>
        <picture class="works"></picture>
        <picture class="works"></picture>
    </section>


    <footer>
        <div class="fot">
            <ul class="fot-list">
                <li class="red-list__item"><a href="https://www.instagram.com/estudio.clerico/"
                        class="red-list__link">Instagram</a></li>
                <li class="red-list__item"><a href="https://www.behance.net/clerico" class="red-list__link">Behance</a>
                </li>
            </ul>
            <ul class="fot-contact__list">
                <li class="contact-list__item"><img src="../multimedia/clerico.jpg" alt="logo" width="30" height="30"
                        class="contact-list__link"></li>
                <li class="contact-list__item"><a href="./assets/views/contacto.html"
                        class="contact-list__link c">Contactar mis servicios</a></li>
            </ul>
        </div>
    </footer>