// MIXINS

@mixin image-box ($hei:300px, $wid:300px, $radio: 10px) {
    height: $hei;
    width: $wid;
    border-radius: $radio;
}
    

// HELPERS 

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}


/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    header {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {
    

    p {
        font-size: 12, 5px;
    }

}