// MIXINS

@mixin image-box ($hei:100%, $wid:auto, $radio: 10px) {
    height: $hei;
    width: $wid;
    border-radius: $radio;
}

@mixin change-box ($hei:200px, $wid:200px) {
    height: $hei;
    width: $wid;
}

// HELPERS 

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}


