/* NORMALIZE */
*::after *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GLOBALS*/

header {
    padding: 0%;

}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $principal;
    align-items: center;
}

a {
    text-decoration: none;
    color: $linkcol;
    font-family: map-get($tipos, paragrap);
    transition: all .3s ease-in-out;
    font-size: 16px;
}

p {
    color: $linkcol;
    font-size: 1em;
    font-family: map-get($tipos, paragrap);
}

a:hover {
    color: $secondary;
}


ul {
    list-style: none;

}

h2 {
    font-family: map-get($tipos, titles);
    color: $secondary;
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 0%;
}

h3 {
    font-family: map-get($tipos, titles);
    font-size: 3em;
    color: $secondary;
    letter-spacing: 1px;

}


button {
    border-style: none;
    background-color: $secondary;
    color: gray;
    font-family: map-get($tipos, paragrap);
    border-radius: 2px;

}



@media screen and (max-width: 768px) {

    a {
        font-size: 5pw;
    }

    p {
        color: $linkcol;
        font-size: 3vw;
        font-family: map-get($tipos, paragrap);
    }

    h2 {
        font-family: map-get($tipos, titles);
        color: $secondary;
        font-size: 4vw;
        letter-spacing: 1px;
        margin-bottom: 0%;
    }

    h3 {
        font-family: map-get($tipos, titles);
        font-size: 4vw;
        color: $secondary;
        letter-spacing: 1px;

    }
}

@media screen and (max-width: 540px) {
    a {
        font-size: 3vw;
    }

}


@media screen and (max-width: 390px) {
    a {
        font-size: 3vw;
    }

    h2 {
        font: size 3vw;
        ;
    }

    h3 {
        font: size 3vw;
        ;
    }


}