/* NORMALIZE */
*::after *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GLOBALS*/

header {
    padding: 0%;
    
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $principal;
}

a {
    text-decoration: none;
    color: white;
    font-family:map-get($tipos, paragrap);
    transition: all .3s ease-in-out;
    font-size: 16px;
}

p {
    color: white;
    font-size: 1em;
    font-family:map-get($tipos, paragrap);
}

a:hover {
    color:$principaltwo;
}


ul {
    list-style: none;

}

h2 {
    font-family: map-get($tipos,titles);
    color: $secondary;
    font-size: 2em;
}

h3 {
    font-family:map-get($tipos,titles);
    font-size: 3em;
    color: $secondary;
}

@media screen and (max-width: 992px) {
    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 12, 5px;
    }

}