

footer {
    margin-top: 2em;
    font-size: 0,5em;

    & {
        animation-duration: 5s;
        animation-name: hello;
        animation-iteration-count: initial;
     }
     
}


.fot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fot-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:5% ;
}

.red-list__item {
    margin-right: 2em;
    justify-content: left;
}

.fot-contact__list {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-right:5% ;
    /* no entiendo porque no funciona, por eso lo solucione con un margin pero no es lo mismo  */
}

.contact-list__item {
    margin-right: 1em;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 2em 0;
    }

    .fot {
        display: flex;
        flex-direction: row;
    }

    .fot-contact__list {
        margin-right: 0%;
    }
}