

footer {
    margin-top: 2em;
    font-size: 0,5em;

    & {
        animation-duration: 5s;
        animation-name: hello;
        animation-iteration-count: initial;
     }
     
}


.fot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fot-list {
    display: flex;
    flex-direction: row;
    padding-left:5% ;
}

.red-list__item {
    margin-right: 2em;
    justify-content: left;
}

.fot-contact__list {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-right:5% ;
}

.contact-list__item {
    margin-right: 1em;
}



@media screen and (max-width: 768px) {
    .fot-contact__list {
        margin-right: 0%;
    }
}

@media screen and (max-width: 540px) {
   

    .fot-contact__list {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: right;
        margin-right: 0%;
    }

    .contact-list__item {
        margin-right: 0;
    }
    
    .red-list__item {
        margin-right: 2%;
        justify-content: left;
        align-items: flex-start;
    }
}


@media screen and (max-width: 390px) {
    .fot-contact__list {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        margin-right: 0%;
    }
    .contact-list__item {
    align-items: center;  
    justify-content: center;  }
   
    .red-list__item {
        margin-right: 0%;
        justify-content: left;
        align-items: flex-start;
    } 
    

}



