#navegar {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;  
}

header {

    .logo {
        flex-basis: 30%;
        width: 300px;
        height: auto;
        padding-left:5% ;

    & {  
        animation-duration: 5s;
        animation-name: hello;
        animation-iteration-count: initial;
        }
        
    }

    .bar { 
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 7rem;
        justify-content: center;
        margin: 0;
        padding-left: 30%;

    }

    .menu {
        flex-basis: 40%;
        justify-content: space-between;

       .menu__item .menu__link {
            transition: all .3s ease-in-out;
         }
            
     .menu__item .menu__link:hover {
            color:$principaltwo;
        }
     .menu__item:hover .sub-menu {
            display: block;
            font-family:map-get($tipos, paragrap);
        }

     .menu__item .sub-menu {
        display: none;
        position: absolute;
        color:$principaltwo;
        transition: all .3s ease-in-out;
     }

    }
}


@media screen and (max-width: 768px) {
    header {
        padding: 0 0;
    }
    nav ul .menu {
        justify-content: space-between;
    }
    header .logo {
        flex-basis: 30%;
        max-width: 150px;
        max-height: auto;
    }
}

@media screen and (max-width: 992px) {
    header {

    font-size: 12px;
    }
}