@import url("../multimedia/tip/MADE Dillan PERSONAL USE.otf.otf");
@font-face {
  font-family: 'dillan';
  src: url("../multimedia/tip/MADE Dillan PERSONAL USE.otf.otf"); }

/* VARIABLES */
/* NORMALIZE */
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS*/
header {
  padding: 0%; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #789FC3; }

a {
  text-decoration: none;
  color: white;
  font-family: "PT Sans";
  transition: all .3s ease-in-out;
  font-size: 16px; }

p {
  color: white;
  font-size: 1em;
  font-family: "PT Sans"; }

a:hover {
  color: #eedae0; }

ul {
  list-style: none; }

h2 {
  font-family: "dillan";
  color: #eedae0;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 0%; }

h3 {
  font-family: "dillan";
  font-size: 3em;
  color: #eedae0;
  letter-spacing: 1px; }

button {
  border-style: none;
  background-color: #eedae0;
  color: gray;
  font-family: "PT Sans";
  border-radius: 2px; }

@media screen and (max-width: 768px) {
  a {
    font-size: 5pw; }
  p {
    color: white;
    font-size: 3vw;
    font-family: "PT Sans"; }
  h2 {
    font-family: "dillan";
    color: #eedae0;
    font-size: 4vw;
    letter-spacing: 1px;
    margin-bottom: 0%; }
  h3 {
    font-family: "dillan";
    font-size: 4vw;
    color: #eedae0;
    letter-spacing: 1px; } }

@media screen and (max-width: 540px) {
  a {
    font-size: 3vw; } }

@media screen and (max-width: 390px) {
  a {
    font-size: 3vw; }
  h2 {
    font: size 3vw; }
  h3 {
    font: size 3vw; } }

.flex {
  display: flex; }

.row {
  display: flex;
  flex-direction: row; }

.flex-colum {
  display: flex;
  flex-direction: column; }

@keyframes hello {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes happy-pod {
  0% {
    font-size: 100%; }
  50% {
    font-size: 25px; }
  100% {
    font-size: 100%; } }

#navegar {
  margin-bottom: 0;
  display: flex;
  flex-direction: row; }

header ul .menu .bar {
  width: 60%;
  height: auto; }

header .menu__logo {
  width: 40%;
  height: auto; }

header .logo {
  flex-basis: 30%;
  width: 60%;
  height: auto;
  padding-left: 5%; }
  header .logo {
    animation-duration: 5s;
    animation-name: hello;
    animation-iteration-count: initial; }

header .bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7rem;
  justify-content: center;
  margin: 0;
  padding-left: 30%;
  width: 60%;
  height: auto; }

header .menu {
  flex-basis: 40%;
  justify-content: space-between; }
  header .menu .menu__item .menu__link {
    transition: all .3s ease-in-out; }
  header .menu .menu__item .menu__link:hover {
    color: #eedae0; }
  header .menu .menu__item:hover .sub-menu {
    display: block;
    font-family: "PT Sans"; }
  header .menu .menu__item .sub-menu {
    display: none;
    position: absolute;
    color: #eedae0;
    padding: 0%;
    transition: all .3s ease-in-out; }

@media screen and (max-width: 992px) {
  header .logo {
    padding-left: 0; }
  header .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 15%; } }

@media screen and (max-width: 768px) {
  header .logo {
    padding-left: 0; }
  header .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 5%; }
  header .menu__item {
    margin: 2%; } }

@media screen and (max-width: 540px) {
  header .logo {
    width: 70%;
    height: auto;
    padding-left: 0;
    justify-content: left; }
  header .pict {
    justify-content: left; }
  header .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 0%; }
  header .menu__item {
    margin: 1%; } }

@media screen and (max-width: 390px) {
  header .logo {
    height: auto;
    padding-left: 0;
    justify-content: left; }
  header .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0%; }
  header .menu__item {
    margin: 1%; } }

footer {
  margin-top: 2em;
  font-size: 0,5em; }
  footer {
    animation-duration: 5s;
    animation-name: hello;
    animation-iteration-count: initial; }

.fot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.fot-list {
  display: flex;
  flex-direction: row;
  padding-left: 5%; }

.red-list__item {
  margin-right: 2em;
  justify-content: left; }

.fot-contact__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 5%; }

.contact-list__item {
  margin-right: 1em; }

@media screen and (max-width: 768px) {
  .fot-contact__list {
    margin-right: 0%; } }

@media screen and (max-width: 540px) {
  .fot-contact__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 0%; }
  .contact-list__item {
    margin-right: 0; }
  .red-list__item {
    margin-right: 2%;
    justify-content: left;
    align-items: flex-start; } }

@media screen and (max-width: 390px) {
  .fot-contact__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0%; }
  .contact-list__item {
    align-items: center;
    justify-content: center; }
  .red-list__item {
    margin-right: 0%;
    justify-content: left;
    align-items: flex-start; } }

.present {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-left: 5%;
  margin-top: 6%; }

.video .foo {
  margin: auto;
  width: 400px;
  height: 300px; }

#pepe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  text-align: center;
  align-items: center; }

.about-us {
  padding: 10px 20px; }

@media screen and (max-width: 990px) {
  .present {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 540px) {
  .video .foo {
    margin: auto;
    width: 300px;
    height: auto; } }

#contacto {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.con {
  padding-right: 3em;
  color: white;
  padding-left: 50%; }

.me {
  padding-left: 3em;
  padding-right: 50%;
  color: white; }

.form {
  font-family: "PT Sans"; }

.te {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .te textarea {
    border-radius: 15px;
    padding-left: 1rem;
    border-style: none;
    color: gray;
    font-family: "PT Sans"; }

div .caja {
  border-radius: 5px;
  border-style: none;
  padding-left: 1rem;
  color: gray;
  font-family: "PT Sans"; }

select {
  border-style: none;
  color: gray; }

@media screen and (max-width: 768px) {
  .con {
    padding-right: 3em;
    color: white;
    padding-left: 3%;
    align-items: center; }
  .me {
    padding-left: 3em;
    padding-right: 3%;
    color: white;
    align-items: center; } }

@media screen and (max-width: 540px) {
  #contacto {
    display: grid;
    grid-template-columns: 1fr; }
  .te {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  con {
    margin-right: 0;
    color: white; }
  .me {
    margin-left: 0;
    font-family: "PT Sans";
    color: white; } }

section div .box {
  height: 100%;
  width: auto;
  border-radius: 10px; }

.sec-dos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  align-items: center;
  text-align: center;
  margin-left: 5%; }

.color img {
  width: 70%;
  height: auto;
  border-radius: 100%; }

.color-present {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

@media screen and (max-width: 768px) {
  .sec-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .general-se {
    display: flex;
    flex-direction: column; } }

#pod {
  grid-area: pod;
  display: flex;
  transform: rotate(270deg);
  justify-content: center;
  align-items: center;
  animation-name: happy-pod;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 2s; }

.pod {
  grid-area: pod;
  display: flex;
  justify-content: center; }

.pic {
  grid-area: pic;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-top: 2rem; }

.gatito h2 {
  grid-area: gato;
  display: flex;
  justify-content: center; }

.gatito p {
  grid-area: gato;
  display: flex;
  justify-content: center;
  font-size: 1em;
  text-align: center; }

@media screen and (max-width: 768px) {
  .pic .di {
    margin-top: 1em; }
  .pic {
    grid-area: pic;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #pod {
    grid-area: pod;
    display: flex;
    transform: rotate(270deg);
    justify-content: center;
    align-items: center;
    animation-name: happy-pod;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s; }
  .gatito p {
    grid-area: gato;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    text-align: center; } }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  justify-content: space-between; }
  .galeria .job {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
    .galeria .job img {
      height: 100%;
      width: auto;
      border-radius: 10px; }
    .galeria .job p {
      align-items: center; }
    .galeria .job .img-1 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../multimedia/1.png"); }
    .galeria .job .img-2 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../multimedia/2.png"); }
    .galeria .job .img-3 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../multimedia/3.png"); }
    .galeria .job .img-4 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../multimedia/4.png"); }
    .galeria .job .img-5 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../multimedia/5.png"); }
    .galeria .job .img-6 {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-size: cover;
      background-image: url("../multimedia/6.png"); }

@media screen and (max-width: 992px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px; } }

@media screen and (max-width: 768px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px; } }

@media screen and (max-width: 540px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0%; }
    .galeria .job {
      align-items: center;
      justify-content: center; } }
